<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Travel Buddy</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>

  <div class ="headline">
    Travel Buddy
  </div>
  <div class id="form">
    <input type="text" id="cityName" placeholder="Where do do you want to go?">
    <input type="date" name="date" id="input-date" class="date" min="0" required>
  </div>

  <div id="button-holder">
    <button id="generate" type = "submit"> Go </button>
  </div>

  <div id="results">
    <div id="info-holder">
      <div id="cityImage"></div>
      <article id="pic-text">
        <h5 id ="theCity"></h5>
        <h5 id = "arrival-condition"></h5>
        <h5 id = "temp"></h5>
        <h5 id = "min"></h5>
        <h5 id = "days-until"></h5>
      </article>
      <div id="flag"></div>
      <article id="flag-text">
        <h5 id="country"></h5>
        <h5 id="capital"></h5>
        <h5 id="language"></h5>
        <h5 id="currency"></h5>
    </article>
    </div>

    <div id="other-info">
      <div id="condition-holder">
        <h1 id="condition"></h1>
      </div>

      <div id="icon"></div>

      <div id="temps-holder">
        <h2 id="todays-temps"></h2>
      </div>
      
      <h1 id="country-info"></h1>
      
      
    </div>
   
      
      
    
  
  
  </div>

  

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script>


</body>
</html>

