$primary-color: white;
$background-color: black;
$placeholder-color: dimgray;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  position: relative;
  color: $primary-color;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color;

  #date-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 70px;
    padding-bottom: 10px;
  }
}

// Header
.headline {
  display: flex;
  justify-content: space-around;
  min-height: 20%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  font-size: 4.5em;
}

#form {
  margin-bottom: 0px;
  input {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    width: 90%;
    height: 60px;
    border: $background-color 1px;
    border-radius: 30px;
    margin-left: 18px;
    margin-bottom: 50px;
    }
    #input-date {
      font-size: 1.5em;
      padding-left: 50px;
      color: $placeholder-color;
    }
    #date-select {
      background: rgba(255, 255, 255, 0);
      margin-top: 60px;
      text-align: center;
      color: $primary-color;
      font-size: 2em;
      font-family: 'Oswald', sans-serif;
      width: 98%;
      height: 45px;
      border: $background-color 1px;
      border-radius: 30px;
  }
}

button {
  width: 10rem;
  height: 3.8rem;
  padding: 2px;
  margin: 1rem;
  font-size: 1.4em;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 60px;
  background-color: $primary-color;
  border-radius: 900px;
  transition: transform 0.05s ease-in;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 3);
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(113, 182, 238);
    color: $primary-color;
    border: 1px solid rgb(113, 191, 255);
  }

  &:focus {
    outline: 0;
  }
}

#condition{
  margin-right: 0px;
  text-align: center;
  font-size: 2em;
}
#temps-holder {
  text-align: center;
  font-size: 1.2em;
}
#results {
    position: relative;
    text-align: left;
    #info-holder {
      margin-top: 180px;
      ul {
        list-style-type: none;
      }
      #city-pic {
        margin-top: -130px;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 35px;
        width: 100%;
        height: 480px;
        max-height: 40%;
        opacity: 0.5;
        outline: none;
      }
      #flag-pic {
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 35px;
        width: 100%;
        height: 375px;
        max-height: 40%;
        outline: none;
        opacity: 0.5;
      }
      #pic-text {
        position: absolute;
        top: 5%;
        left: 5%;
        padding: 2px;
        line-height: 1.6;
        font-size: 2.5em;
      }
      #flag-text {
        position: absolute;
        top: 39%;
        left: 5%;
        padding: 2px;
        line-height: 1.6;
        font-size: 1.9em;
      }
      #icon {
        height: 20%;
        width: 100%;
      }
      #weather-icon {
        height: 50%;
        width: 100%;
        padding-bottom: 40px;
      }
      #country-info {
        font-size: 1.5em;
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
    }
}

@media (min-width: 600px) {
  ul {
      list-style-type: none;
  }
  
  #results {
      position: relative;
      text-align: left;
      #pic-text {
          position: absolute;
          top: 5%;
          left: 5%;
          padding: 2px;
          line-height: 1.6;
          font-size: 2.5em;
      }
  }
  
  #city-pic {
    margin-top: -130px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 35px;
    width: 100%;
    height: 480px;
    max-height: 40%;
    opacity: 0.5;
    outline: none;
  }
  
  #flag-pic {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 35px;
    width: 100%;
    height: 375px;
    max-height: 40%;
    outline: none;
    opacity: 0.5;
  }
  
  #flag-text {
    position: absolute;
          top: 30%;
          left: 5%;
          padding: 2px;
          line-height: 1.6;
          font-size: 1.9em;
  }
  
  
  #condition {
    margin-right: 0px;
    text-align: center;
    font-size: 3em;
  }
  
  #icon {
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
  }
  
  #weather-icon {
    height: 50%;
    width: 50%;
    padding-bottom: 40px;
  }
  
  
  #temps-holder {
    text-align: center;
    font-size: 2em;
    
  }
  
  #country-info {
    font-size: 1.5em;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  
  // Button
  button {
    width: 10rem;
    height: 3.8rem;
    padding: 2px;
    margin: 1rem;
    font-size: 1.4em;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
    background-color: $primary-color;
    border-radius: 900px;
    transition: transform 0.05s ease-in;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 3);
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background-color: rgb(113, 182, 238);
      color: $primary-color;
      border: 1px solid rgb(113, 191, 255);
    }
  
    &:focus {
      outline: 0;
    }
  }
}
  
/* media queries - over 700 px */
@media (min-width: 1100px) {
  
  // Header
  .headline {
    display: flex;
    justify-content: space-around;
    min-height: 20%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    font-size: 4.5em;
  }
  
  #form {
    display: flex;
    margin-bottom: 0px;
    #cityName {
      width: 400px;
    }
    #input-date {
      width: 400px;
    }
  }

  button {
    width: 10rem;
    height: 3rem;
    padding: 2px;
    margin: 1rem;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
    background-color: $primary-color;
    border-radius: 900px;
    transition: transform 0.05s ease-in;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 3);
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background-color: rgb(113, 182, 238);
      color: $primary-color;
      border: 1px solid rgb(113, 191, 255);
    }
  
    &:focus {
      outline: 0;
    }
  }
  
  #results {
      position: relative;
      text-align: left;
      #info-holder {
        display: flex;
        margin-top: 150px;
        height: 600px;
        width: 100%;
        ul {
          list-style-type: none;
        }
        #cityImage {
          width: 50%;
          height: 200%;
          margin-left: 80px;
          #city-pic {
            margin-top: -130px;
            margin-bottom: 30px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 35px;
            width: 100%;
            height: 480px;
            max-height: 40%;
            opacity: 0.5;
            outline: none;
          }
        }
        #flag {
          width: 50%;
          height: 200%;
          margin-right: 80px;
          #flag-pic {
            margin-top: -130px;
            margin-bottom: 30px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 35px;
            width: 100%;
            height: 500px;
            max-height: 40%;
            outline: none;
            opacity: 0.5;
          }
        }
        #pic-text { 
          position: absolute;
          top: 3%;
          left: 10%;
          padding: 2px;
          line-height: 1.8;
          font-size: 2.4em;
        }
        #flag-text {
          position: absolute;
          top: 4%;
          left: 55%;
          padding: 2px;
          line-height: 1.8;
          font-size: 2.4em;
        }
        #condition{
          margin-right: 0px;
          margin-top: -150px;
          text-align: center;
          font-size: 4em;
        }
        #icon {
          display: flex;
          justify-content: center;
          height: 20%;
          width: 100%;
          #weather-icon {
            height: 70%;
            width: 30%;
            padding-bottom: 70px;
          }
        }
        #temps-holder {
          text-align: center;
          font-size: 2em;
          margin-bottom: 50px;
        }
        #country-info {
          font-size: 1.5em;
          margin-left: 30px;
          margin-right: 20px;
          margin-bottom: 20px;
          padding-bottom: 10px;
        }
      }
  }

  #other-info {
    margin-top: -150px;
  }
}
